<div class="mt-3">
    <h4 class="text">Meal Form</h4>
    <form [formGroup]="mealForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input (blur)="validateFormValue()" autocomplete="off" [class.is-invalid]="formErrors.name"
          [class.is-valid]="mealForm.controls.name.valid" type="text" class="form-control col-sm-6" id="name"
          formControlName="name" placeholder="Enter meal name">
        <div class="invalid-feedback" *ngIf="formErrors.name">
          {{formErrors.name}}
        </div>
        <div class="valid-feedback" *ngIf="!formErrors.name">
          Looks good!
        </div>
      </div>

      <div class="form-group">
        <label for="pricePerGr">Price Per Gram</label>
        <input (blur)="validateFormValue()" autocomplete="off" [class.is-invalid]="formErrors.pricePerGr"
          [class.is-valid]="mealForm.controls.pricePerGr.valid" type="number" class="form-control col-sm-6" id="pricePerGr"
          formControlName="pricePerGr" placeholder="Enter price per gram">
        <div class="invalid-feedback" *ngIf="formErrors.pricePerGr">
          {{formErrors.pricePerGr}}
        </div>
        <div class="valid-feedback" *ngIf="!formErrors.pricePerGr">
          Looks good!
        </div>
      </div>

      <div class="form-group">
        <label for="mealType">Meal Type</label>
        <select (blur)="validateFormValue()" [class.is-invalid]="formErrors.mealType"
            [class.is-valid]="mealForm.controls.mealType.valid" class="form-control col-sm-6" id="mealType"
            formControlName="mealType" placeholder="Enter meal type">
            <option *ngFor="let mt of mealTypeArray" [value]="mt">{{mt}}</option>
            <option value="">Select Meal Type</option>
        </select>
        <div class="invalid-feedback" *ngIf="formErrors.mealType">
            {{formErrors.mealType}}
        </div>
        <div class="valid-feedback" *ngIf="!formErrors.mealType">
            Looks good!
        </div>
    </div>
  
      <button type="submit" [disabled]="mealForm.invalid" class="btn btn-primary col-sm-6">Submit</button>
    </form>
  
    <div>
      <p>{{mealForm.value | json}}</p>
      <p>Form is NOT valid: {{mealForm.invalid}}</p>
    </div>
  </div>
