<div class="mt-3">
    <h4 class="text">Brand List</h4>
    <div class="col">
        <a class="btn btn-primary btn-lg m-2" routerLink="/brands/create">Create Brand</a>
        <a class="btn btn-primary btn-lg m-2" routerLink="/">Back To Home</a>
        <a class="btn btn-primary btn-info m-2" (click)="getUserProfile()">GetUserProfile</a>
    </div>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Country Of Origin</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="brands">
                <tr *ngFor="let brand of brands">
                    <td>{{brand.name}}</td>
                    <td>{{brand.countryOfOrigin}}</td>
                    <td><a class="btn btn-success" (click)="editBrand(brand.id)">Edit</a></td>
                    <td><button class="btn btn-danger" (click)="deleteBrand(brand)">Delete</button></td>
                </tr>
            </ng-container>
            <tr *ngIf="brands && brands.length === 0">
                <td>{{statusMessage}}</td>
            </tr>
            <tr *ngIf="!brands">
                <td>{{statusMessage}}</td>
            </tr>
        </tbody>
    </table>
</div>