<h4 class="text-center mt-3">Brand List</h4>
<div class="row justify-content-center">
  <a
    class="btn btn-primary btn-lg m-2"
    routerLink="/brands/create"
    *ngIf="isAdmin"
    >Create Brand</a
  >
  <a class="btn btn-primary btn-lg m-2" routerLink="/">Back To Home</a>
</div>
<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Country Of Origin</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="brands">
      <tr *ngFor="let brand of brands">
        <td>{{ brand.name }}</td>
        <td>{{ brand.countryOfOrigin }}</td>
        <td *ngIf="isAdmin">
          <a class="btn btn-success" (click)="editBrand(brand.id)">Edit</a>
        </td>
        <td *ngIf="isAdmin">
          <button class="btn btn-danger" (click)="deleteBrand(brand)">
            Delete
          </button>
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="brands && brands.length === 0">
      <td>{{ statusMessage }}</td>
    </tr>
    <tr *ngIf="!brands">
      <td>{{ statusMessage }}</td>
    </tr>
  </tbody>
</table>
