@page "/cocktails"
@using BartenderSupportSystem.Client.Repositories
@using BartenderSupportSystem.Client.ViewModels.RecommendationSystem
@using AutoMapper
@using BartenderSupportSystem.Shared.Models.RecommendationSystem
@inject NavigationManager NavigationManager


<h3>Cocktails Index</h3>

@code {
}
