@page "/cocktails/create"
@using BartenderSupportSystem.Shared.Models.RecommendationSystem
@using BartenderSupportSystem.Client.Repositories
@using AutoMapper
@using BartenderSupportSystem.Client.ViewModels.RecommendationSystem
@inject NavigationManager NavigationManager

<h3>Create Cocktail</h3>

<CocktailsForm CocktailViewModel="CocktailViewModel" OnValidSubmit="Create" />

@code {
    [Inject] public IRepository<Cocktail> CocktailRepository { get; set; }
    [Inject] public IMapper Mapper { get; set; }
    public CocktailViewModel CocktailViewModel { get; set; } = new CocktailViewModel { Id = Guid.NewGuid() };

    private async Task Create()
    {
        var cocktail = Mapper.Map<CocktailViewModel, Cocktail>(CocktailViewModel);
        await CocktailRepository.AddOne(cocktail);
        NavigationManager.NavigateTo("/cocktails");
    }
}
