@page "/drinks/edit/{Id:guid}"
@using BartenderSupportSystem.Client.ViewModels.RecommendationSystem
@using BartenderSupportSystem.Client.Repositories
@using BartenderSupportSystem.Shared.Models.RecommendationSystem
@using AutoMapper
@inject NavigationManager NavigationManager

<h3>Edit Drink</h3>

@if (_drinkViewModel != null)
{
    <DrinksForm DrinkViewModel="@_drinkViewModel" OnValidSubmit="Edit" />
}

@code {
    [Parameter] public Guid Id { get; set; }
    [Inject] public IRepository<DrinkDto> DrinkRepository { get; set; }
    [Inject] public IMapper Mapper { get; set; }
    private DrinkViewModel _drinkViewModel;

    protected override async Task OnInitializedAsync()
    {
        var drink = await DrinkRepository.GetOne(Id);
        _drinkViewModel = Mapper.Map<DrinkDto, DrinkViewModel>(drink);
    }

    private async Task Edit()
    {
        var drink = Mapper.Map<DrinkViewModel, DrinkDto>(_drinkViewModel);
        await DrinkRepository.UpdateOne(drink.Id, drink);
        NavigationManager.NavigateTo("/drinks");
    }
}
